<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^(.*/)?api/(.*)$ public/api/$2 [R=307,L,QSA]
    RewriteRule ^(.*/)?sanctum/(.*)$ public/sanctum/$2 [R=307,L,QSA]
    RewriteRule ^(.*/)?up$ public/up [R=307,L,QSA]

    RewriteRule ^public/ - [L]
    RewriteRule ^public$ public/ [L]
    RewriteRule ^$ public/ [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(?!public/)(.*)$ public/$1 [L]
</IfModule>
