<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^((api|up|sanctum)(/.*)?)$ public/index.php/$1 [L,QSA]

    RewriteRule ^public/ - [L]
    RewriteRule ^public$ public/ [L]
    RewriteRule ^$ public/ [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(?!public/)(.*)$ public/$1 [L]
</IfModule>
